.calcset{
    text-align: center;
}
.two{
    width: 50px;
}
.displayValue{
    text-align: center;
    padding: 10px;
}
.radioone{
    width: 25px;
}
.display{
    text-align: center;
}
.displaycvf{
    margin-top: 10px;
}
.displaying{
    margin: 10px;
}
